@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.cabecero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 15vw;
    background-size: contain;
  }
  
  .cabecero img {
    padding-top: 1.5vw;
    width: 12vw;
  }
  
  .cabecero div {
    text-align: center;
  }
  
  .cabecero a {
    text-decoration: none;
  }
  
  .cabecero .tituloI {
    text-align: end;
    font-family: "Montserrat", sans-serif;
    font-size: 3.6vw;
    font-weight: 300;
    color: black;
  }
  
  .cabecero .tituloD {
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-size: 3.6vw;
    font-weight: 300;
    color: black;
  }
  
  .cabecero div a {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: black;
  }
  
  .cabecero a {
    font-size: 1.6vw;
    font-family: "Montserrat", sans-serif;
  }
  
  .navbar {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.4vw;
    background-color: #88c6f8;
    padding-top: 15px;
    justify-content: center;
  }
  
  .navbar a {
    color: #0b3d3d !important;
  }
  
  .navbar .navbar-toggler {
    margin: 20px;
  }
  
  .navbar .navbar-toggler-icon {
    color: rgb(14, 13, 13);
  }
  
  .nav-link {
    transition: color 0.5s ease-in-out;
    text-align: center;
  }
  
  .nav-link:hover {
    background-color: #564bf3;
    color: #4f7976 !important;
  }

.Cart{
  margin-right: 30px;
  margin-top: 22px;
  width: 40px;
}

.navbar-fixed{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.4vw;
  background-color: #554dc4;
  padding-top: 15px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.Cart-fixed{
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 30px;
  margin-top: 15px;
  z-index: 1;
  width: 40px;
}