.ItemCount-container{
    display: flex;
    width: 280px;
    margin:auto;
    align-items: center;
    justify-content: center;
}
.ItemCount-p{
    font-size: 52px;
}
.cursor{
    cursor: pointer;
}